:root{
    --color1:#495371;
    --color2:#F5F5F5;
    --laptop : 992px;
    --tablet : 768px;
    --mobile : 576px;
    }
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color:#495371;
    display: flex;
}
html, body{
    scroll-behavior: smooth;

}

header{
    background: url("./prooofile.png");
    width: 300px;
    height: 700px;
    background-size:contain;
    background-size: cover;
    text-align: center;
    position: absolute;
}

header h1,p{
    padding-top: 2em;
    text-align: center;
    color:#F5F5F5;
}
header h1 span{
    color:steelblue;
}
header h2{
    color: #F5F5F5;
    padding-top: 1em;
    padding-bottom: 1em;

}

header .menu{
    margin-top: 2em;
}

header ul li{
    background-color: hsl(225, 22%, 36%);
    border: 1px solid hsl(225, 25%, 60%);
    padding: 1em;
    list-style: none;
    color: #F5F5F5;
}
header ul li:hover,a:hover{
    background-color: #C4C4C4;
    color:rgba(0,0,0,0.8);
}
.article:hover{
    background-color:#495371;
    color:#F5F5F5;
}
 .articles {
    display: none;
   
}
header ul li:hover .articles{
    display: block;
    position: absolute;
    margin-left: 5em;
    margin-top: 1em;
    width: 200px;
    
}

header ul li a{
    text-decoration: none;
    color: #F5F5F5;
}
#overview{
    background-color: #495371;
    color: #C4C4C4;
}
#overview:hover{
    background-color: #C4C4C4;
    color: #495371;
}
#my_alticle{
    background-color: #C4C4C4;
    color: #495371;
}
#my_alticle:hover{
    background-color: #495371;
    color: #C4C4C4;
}
/* Thisis aside******************** */

aside{
    background-color: #C4C4C4;
    margin: 0em 0em 0em 18.8em;
    width: 1000px;
    border-radius: 0px;
    padding:0.3em 2em;
}




.title input{
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 0.5em;
    border: none;
    width: 500px;
    background-color: #495371;
}
.picture {
    background-color: #495371;
    padding: 3em;
    border-radius: 20px;
    width: 45%;
    height: 200px;
    margin-top:1em;
}
.add_article{
    display: flex;
    flex-direction: column;
}
.add_article .textarea{
    background-color: #495371;
    border-radius: 10px;
    margin-top:-4.5em;
    width: 78%;
    border: none;

}
.container .left{
    margin-top:0em;
   
    font-size: 20px;
    font-weight: 700;

}
.create_btn button{
    border: none;
    margin-top: 0.5em;
    background-color:#495371;
    color: #C4C4C4;
    border-radius: 20px;
    padding: 1em;
    width: 200px;
}
.create_btn button a{
    text-decoration: none;
    color: #C4C4C4;
    font-size: 24;
}
.create_btn button a:hover{
    color: #495371;
    transition: all 2s;
}
.create_btn button:hover{
    background-color: #C4C4C4;
    color: #495371;
    transition: all 2s;
}
