*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color:#927E91;
    display: flex;
}
html, body{
    scroll-behavior: smooth;

}

header{
    background: url("./prooofile.png");
    width: 300px;
    height: 700px;
    background-size:contain;
    background-size: cover;
    text-align: center;
    position: absolute;
}

header h1,p{
    padding-top: 2em;
    text-align: center;
    color:white;
}
header h1 span{
    color:steelblue;
}
header h2{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;

}

header .menu{
    margin-top: 2em;
}

header ul li{
    background-color: #534F4F;
    border: 1px solid #676764;
    padding: 1em;
    list-style: none;
    color: white;
}
header ul li:hover,a:hover{
    background-color: #C4C4C4;
    color:rgba(0,0,0,0.8);
}
.article:hover{
    background-color:#927E91;
    color:white;
}
 .articles {
    display: none;
   
}
header ul li:hover .articles{
    display: block;
    position: absolute;
    margin-left: 5em;
    margin-top: 1em;
    width: 200px;
    
}

header ul li a{
    text-decoration: none;
    color: white;
}
#overview{
    background-color: #534F4F;
    color: #C4C4C4;
}
#overview:hover{
    background-color: #C4C4C4;
    color: #534F4F;
}
#my_alticle{
    background-color: #C4C4C4;
    color: #534F4F;
}
#my_alticle:hover{
    background-color: #534F4F;
    color: #C4C4C4;
}
/* Thisis aside******************** */

aside{
    background-color: gray;
    margin: 0em 0em 0em 18em;
    width: 1000px;
    border-radius: 40px;
    padding:0.3em 2em;
}




.title input{
    padding: 0.5em;
    font-size: 1em;
    border-radius: 40px;
    width: 500px;
    background-color: #C4C4C4;
}
.picture {
    background-color: #C4C4C4;
    padding: 3em;
    border-radius: 40px;
    width: 250px;
    height: 200px;
    margin-top:-4em;
}
.add_article{
    display: flex;
    flex-direction: column;
}
.add_article .textarea{
    background-color: #C4C4C4;
    border-radius: 40px;
    margin-top:-4.5em;

}
.container .left{
    margin-top:0em;
   
    font-size: 20px;
    font-weight: 700;

}
.create_btn button{
    background-color:green;
    color: #C4C4C4;
    border-radius: 20px;
    padding: 1em;
    width: 200px;
}
.create_btn button a{
    text-decoration: none;
    color: #C4C4C4;
    font-size: 24;
}
.create_btn button a:hover{
    color: #534F4F;
    transition: all 2s;
}
.create_btn button:hover{
    background-color: #C4C4C4;
    color: #534F4F;
    transition: all 2s;
}
