*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color:#927E91;
    display: flex;
}
html, body{
    scroll-behavior: smooth;

}

header{
    background: url("./prooofile.png");
    width: 300px;
    height: 700px;
    background-size:contain;
    background-size: cover;
    text-align: center;
    position: absolute;
}

header h1,p{
    padding-top: 2em;
    text-align: center;
    color:white;
}
header h1 span{
    color:steelblue;
}
header h2{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;

}

header .menu{
    margin-top: 2em;
}

header ul li{
    background-color: #534F4F;
    border: 1px solid #676764;
    padding: 1em;
    list-style: none;
    color: white;
}
header ul li:hover,a:hover{
    background-color: #C4C4C4;
    color:rgba(0,0,0,0.8);
}
.article:hover{
    background-color:#927E91;
    color:white;
}
 .articles {
    display: none;
   
}
header ul li:hover .articles{
    display: block;
    position: absolute;
    margin-left: 5em;
    margin-top: 1em;
    width: 200px;
    
}

header ul li a{
    text-decoration: none;
    color: white;
}




aside{
    background-color: gray;
    margin: 5em 2em 5em 25em;
    width: 50%;
    border-radius: 40px;
    padding:5em;
}
aside h1{
    text-align: center;
   top: 50%;
   padding:3em 0em;
   font-size: xx-large;
   color: green;
}
aside .btn{
    display:flex;
   
   
}
aside button{
    width: 200px;
    background-color:#534F4F;
    color:white;
    padding:1em;
    border-radius: 40px;
   

}
aside button:hover{
    background-color: #C4C4C4;
    color:rgba(0,0,0,0.8);
}
aside button a{
    text-decoration: none;
    color:white;
    font-size: 1.5em;
}
/*YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY*/
@media screen and (max-width: 375px) {
    body{
        width: 375px;
    }
    header{
        background: url("../image/prooofile.png");
        width: 300px;
        height: 700px;
        background-size:contain;
        background-size: cover;
        text-align: center;
        position: absolute;
    }
    
    header h1,p{
        padding-top: 2em;
        text-align: center;
        color:white;
    }
    header h1 span{
        color:steelblue;
    }
    header h2{
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
    
    }
    
    header .menu{
        margin-top: 2em;
    }
    
    header ul li{
        background-color: #534F4F;
        border: 1px solid #676764;
        padding: 1em;
        list-style: none;
        color: white;
    }
    header ul li:hover,a:hover{
        background-color: #C4C4C4;
        color:rgba(0,0,0,0.8);
    }
    .article:hover{
        background-color:#927E91;
        color:white;
    }
     .articles {
        display: none;
       
    }
    header ul li:hover .articles{
        display: block;
        position: absolute;
        margin-left: 5em;
        margin-top: 1em;
        width: 200px;
        
    }
    
    header ul li a{
        text-decoration: none;
        color: white;
    }
    
    
    
    
    aside{
        background-color: gray;
        margin: 2em 3em 5em 19em;
        width: 50%;
        border-radius: 40px;
        padding:2em;
    }
    aside h1{
        text-align: center;
       top: 50%;
       padding:3em 0em;
       font-size:large;
    }
    aside .btn{
        display: block;
        
       
    }
    aside button{
        width: 150px;
        background-color:#534F4F;
        color:white;
        padding:1em;
        border-radius: 20px;
       
    
    }
    aside button:hover{
        background-color: #C4C4C4;
        color:rgba(0,0,0,0.8);
    }
    aside button a{
        text-decoration: none;
        color:white;
        font-size: 1em;
    }
}

p{
    font-size: 1em;
}
#message1{
    margin-left: 5em;
}