*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


button{
    border:none;
    
}

body{
    background-color: gray;
    align-items: center;
    width: 100%;
}
body .form{
    margin: 5% 35%;
    width: 30%;
    background-color:#fff;
    border-radius: 1em;
}
body .form .login_section{
    display: flex;
    color: #fff;
}
body .form .login_section div{
    padding: 1em;

}

body .form .login_section div a{
    text-decoration: none;
    font-size: 1.5em;
    border: none;
}
body .form .login_section div a:hover{
    color: #C4C4C4;
}
body .form .login_section .legister{
    background-color: #636060;
    border-radius: 0px 1em 0px 0px;
    text-align: center;
    width: 50%;
    padding: 1.5em;
}
body .form .login_section .legister:hover a:hover{
    color: white;
    background-color: green;
}
body .form .login_section .legister:hover{
    background-color: green;
}
body .form .login_section .user{
    background-color: #C4C4C4;
    width: 50%;
    padding: 1.5em;
    border-radius: 1em 0px 0px 0px;
    text-align: center;
    
}

/* This is about Input Text ********************/
.form .Email input[type="email"]{
    margin-top: 2%;
}
.form .Email input[type="email"],.password input[type="password"]{
    background-color: #C4C4C4;
    padding: 0.5em;
    margin: 3% 2% 3% 0%;
    width: 80%;
    border-radius:10px;
    font-size: 20px;
    color: rgba(0,0,0,60%);
    border: none;

}
.form p a{
    text-decoration: none;
    margin: 1% 5% 0% 5%;
   
}

.form .submit {
    padding-top: 3em;
    padding-bottom: 2em;
}
.form .submit button{
    background-color:green;
    padding: 0.8em;
    margin: 2% 5% ; 
    width: 90%;
    border-radius:10px;
    font-size: 1em;
    color:#C4C4C4;
   
    border: none;  
    font-weight: 900;
}
.back button a{
    text-decoration: none;
    color:#C4C4C4;
    margin-bottom: 2em;
}
.size_20{
    background-color: red;
}
.arrow{
      
    font-size:3em;
    margin-left: 2em;
}

#inMessage{
   display:none;
    padding: 1em;
    font-size: 2em;
    text-align: center;
    font-style: italic;
    background-color: red;
    border-radius: 10px 10px 0px 0px;
}.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .icon {
 margin-top:0.7em;
  margin-left:1em;
  padding: 0.5em;
  font-size:1em;
  

  min-width: 25px;
  text-align: center;
}
.login_section .user{
    background-color: red;
}